/* General Heading Styles */
.about-heading {
	position: relative;
	z-index: 2;
	font-weight: 700;
	font-size: 40px;
	font-style: normal;
	transition: text-shadow 0.3s;
}

.hero-section {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 50px 20px;
	background-color: var(--bg-color);
	color: var(--text-color);
}

.hero-content {
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
	align-items: center;
	text-align: center;
	gap: 30px;
}

.hero-text {
	width: 100%;
}

.hero-text h1 {
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.hero-text p {
	font-size: 1rem;
	margin-bottom: 20px;
}

.cta-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 20px;
}

.btn {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 5px;
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: #555;
}

.social-icons {
	display: flex;
	gap: 20px;
	margin: 10px 0;
}

.social-icons a {
	color: var(--text-color);
	font-size: 1.5rem;
	transition: color 0.3s;
}

.social-icons a:hover {
	color: var(--span-color);
}

.hero-image img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
}

@media screen and (min-width: 768px) {
	.hero-content {
		flex-direction: row;
		text-align: left;
	}

	.hero-text {
		text-align: left;
	}

	.hero-content .hero-text {
		max-width: 50%;
	}

	.hero-content .hero-image {
		max-width: 50%;
		display: flex;
		justify-content: center;
	}

	.hero-image img {
		width: 200px;
		height: 200px;
	}
}

@media screen and (max-width: 576px) {

	.cta-buttons,
	.social-icons {
		justify-content: center;
	}

	.tech-container {
		width: 100%;
		max-width: 100%;
		padding: 10px;
	}

	.skills-journey-container {
		padding: 20px 10px;
	}

	.skills-section,
	.journey-section {
		min-width: 100%;
	}
}

/* Skills and Journey Section */
.skills-journey-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 40px;
	justify-content: center;
	width: 100%;
	margin: auto;
	padding: 40px 20px;
	background-color: var(--bg-color);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.skills-section,
.journey-section {
	flex: 1;
	min-width: 300px;
}

.skills-section h2,
.journey-section h2 {
	text-align: center;
	margin-bottom: 20px;
}

.tech-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	margin: auto;
	padding: 20px 0;
	max-width: 650px;
	width: 100%;
}

.tech-stack {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: center;
	width: 100%;
}

.icon {
	padding: 15px 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 10px;
	transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon img {
	width: 24px;
	height: 24px;
	filter: grayscale(100%);
	transition: filter 0.3s;
}

.icon:hover img {
	filter: grayscale(0%);
}

.icon span {
	display: none;
}

@media screen and (min-width: 768px) {
	.icon span {
		display: inline;
	}
}

.my-journey {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
}

.education-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 10rem;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	transition: transform 0.3s, box-shadow 0.3s;
}

@media screen and (min-width: 768px) {
	.education-item {
		width: 24rem;
	}
}

.education-item:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.education-link {
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 0.5rem;
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
}

.education-link:hover {
	text-decoration: underline;
}

.education-text {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.education-date {
	font-size: 0.9rem;
	font-style: italic;
}
