h3 {
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	text-align: center;
}

.home-heading {
	position: relative;
	z-index: 2;
	font-weight: 700;
	font-size: 40px;
	font-style: normal;
	color: white !important;
}

.home-heading:hover::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 45px;
	height: 5px;
	background-color: white;
	transform: translateX(-50%);
}

.home-socials {
	position: relative;
	z-index: 2;
	font-weight: 700;
	font-size: 40px;
	color: white !important;
}

ul.socials {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	gap: 10px;
}

.col-about::before,
.col-work::before,
.col-more::before,
.col-socials::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.row-margin {
	margin: 10px 0;
}

.row-1 {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 10px;
	width: 100%;
}

.col-about {
	background: url(/assets/about.jpg);
	filter: grayscale(100%);
	background-position: center;
	background-size: cover;
	flex: 1;
	padding: 8rem;
}

.col-work {
	background: url(/assets/work.jpg);
	filter: grayscale(100%);
	background-position: center;
	background-size: cover;
	flex: 3;
	padding: 8rem;
}

.row-2 {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 10px;
	width: 100%;
}

.col-more {
	background: url(/assets/other.jpg);
	filter: grayscale(100%);
	background-position: center;
	background-size: cover;
	flex: 3;
	padding: 8rem;
}

.col-socials {
	background: url(/assets/socials.jpg);
	filter: grayscale(100%);
	background-position: center;
	background-size: cover;
	flex: 1;
	padding: 8rem;
}

@media screen and (max-width: 576px) {

	h3 {
		font-size: 20px;
	}

	.home-heading {
		font-size: xx-large;
	}

	.row-1,
	.row-2 {
		display: block;
	}

	.row-margin {
		margin: 0;
	}

	.col {
		margin: 5px 0;
	}
}
