h3 {
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	text-align: center;
}

.home-heading {
	position: relative;
	z-index: 2;
	font-weight: 700;
	font-size: 40px;
	font-style: normal;
	color: white !important;
	transition: text-shadow 0.3s;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-heading:hover::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 45px;
	height: 5px;
	background-color: white;
	transform: translateX(-50%);
}

.home-socials {
	position: relative;
	z-index: 2;
	font-weight: 700;
	font-size: 2rem;
	color: white !important;
}

ul.socials {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	gap: 1rem;
}

.row-margin {
	margin: 10px 0;
}

.row-1, .row-2 {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 10px;
	width: 100%;
}

.col-about, .col-socials {
	position: relative;
	flex: 1;
	padding: 8rem;
	overflow: hidden;
}

.col-work, .col-more {
	position: relative;
	flex: 3;
	padding: 8rem;
	overflow: hidden;
}

.col-about::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/assets/about.jpg);
	background-position: center;
	background-size: cover;
	transition: transform 0.3s;
	transform-origin: 0 0;
	filter: grayscale(100%);
	z-index: 1;
}

.col-work::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/assets/work.jpg);
	background-position: center;
	background-size: cover;
	transition: transform 0.3s;
	transform-origin: 0 0;
	filter: grayscale(100%);
	z-index: 1;
}

.col-more::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/assets/other.jpg);
	background-position: center;
	background-size: cover;
	transition: transform 0.3s;
	transform-origin: 0 0;
	filter: grayscale(100%);
	z-index: 1;
}

.col-socials::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/assets/socials.jpg);
	background-position: center;
	background-size: cover;
	transition: transform 0.3s;
	transform-origin: 0 0;
	filter: grayscale(100%);
	z-index: 1;
}

.col-about::before,
.col-about::after,
.col-work::before,
.col-work:after,
.col-more::before,
.col-more::after,
.col-socials::before,
.col-socials::after {
	opacity: 1;
}

.col-about:hover::before,
.col-work:hover::before,
.col-more:hover::before,
.col-socials:hover::before {
	transform: scale(1.2);
}

.col-about::after,
.col-work::after,
.col-more::after,
.col-socials::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
	pointer-events: none;
}

@media screen and (max-width: 576px) {

	h3 {
		font-size: 20px;
	}

	.home-heading {
		font-size: xx-large;
	}

	.row-1,
	.row-2 {
		display: block;
	}

	.row-margin {
		margin: 0;
	}

	.col {
		margin: 5px 0;
	}
}
