nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 5px;
	max-width: 60rem;
	width: 100%;
}


ul.navbar {
	display: flex;
	padding: 0;
	list-style: none;
	gap: 20px;
}
