.index-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 5px;
	max-width: 55rem;
	width: 100%;
}

ul.navbar {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 10px 0;
	list-style: none;
	gap: 20px;
}

ul.pages-navbar {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 10px 0;
	list-style: none;
	gap: 30px;
}

.switch-theme {
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 700;
}

.pages-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 5px;
	max-width: 55rem;
	width: 100%;
}

@media screen and (max-width: 576px) {
	.pages-nav {
		display: block;
		padding: 0 10px 0 10px;
	}
}
