/* Light Mode */
:root {
	--bg-color: white;
	--text-color: #101010;
	--span-color: #dc3545;
}

[data-theme="light"] {
	--bg-color: rgb(255, 255, 255);
	--text-color: #101010;

	.nav-item,
	a {
		color: #101010;
	}

	.btn {
		border: 1px solid #2467a0;
		background: white;
	}

	.btn:hover {
		background: #2467a0;
		color: white;
	}

	.col {
		border: 1px solid #101010;
	}
}

/* Dark Mode */
[data-theme="dark"] {
	--bg-color: #101010;
	--text-color: white;

	.nav-item,
	a {
		color: white;
	}

	.btn {
		border: 1px solid white;
		background: #2467a0;
	}

	.btn:hover {
		background: white;
		color: black;
	}

	.col {
		border: 1px solid white;
	}
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}
