#work {
	text-align: center;
}

.links {
	color: var(--span-color) !important;
}

.project-heading {
	position: relative;
	z-index: 2;
	font-weight: 700;
	font-size: 40px;
	font-style: normal;
	transition: text-shadow 0.3s;
	margin: 0 1rem;
}

.project-container {
	padding: 1rem;
}

/* Filter dropdown styling */
#filter-container {
	margin: 1rem 0;
}

#filter {
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Responsive styles for filter container */
@media screen and (max-width: 576px) {
	#filter {
		width: 100%;
	}
}

.project-top-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: start;
	padding: 0;
	margin: 1rem 0;
	gap: 1rem;
}

.row {
	display: flex;
	min-height: 30vh;
	margin-bottom: 1.5rem;
}

.col-work {
	display: flex;
	flex-direction: column;
	border: 1px dashed transparent !important;
	margin: auto;
	height: max-content;
	text-align: start;
	padding: 5px;
	width: 100%;
}

.project-img {
	width: 100%;
}

.inactive-link {
	cursor: not-allowed;
	pointer-events: none;
	/* Prevents clicking */
	color: gray;
	/* Grayed-out text */
	opacity: 0.6;
	/* Makes it semi-transparent */
}

@media screen and (max-width: 576px) {
	.project-heading {
		font-size: 28px;
	}

	#filter-container {
		text-align: left;
		padding: 0 1rem;
	}

	.row {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	.col-work {
		width: 100%;
		text-align: center;
		align-items: center;
	}

	.project-top-list {
		justify-content: center;
	}

	.tech-stack-text, .project-text {
		padding: 0 1rem;
		text-align: center;
	}

	.project-img {
		max-width: 100%;
		height: auto;
	}
}

